body {
    background-image: url(mapaFondo.png);
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 400px;
    margin: 40px auto 0;
    /* Agrega un margen superior de 40px */
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f1eded;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #45a049;
}

.form-group .signup-link {
    text-align: center;
    margin-top: 10px;
}

.form-group .signup-link a {
    color: #4caf50;
    text-decoration: none;
}

.form-group .signup-link a:hover {
    text-decoration: underline;
}